<div class="public" id="post">
    <div class="titulo">
        <div class="user" style="background-image: url(./Assets/img/sql.jpg);"></div>
        <span id="user-post">@Usuario</span>
    </div>
    <div class="card bg-dark text-white" id="fondoPost">
        <img src="./Assets/img/sql.jpg" class="card-img" alt="..." style="height: 250px; ">
        <div class="card-img-overlay">
            <h5 class="card-title">@Titulo</h5>
        </div>
    </div>
    <div class="post-text" id="post-text">
        <div class="category">
            <span>@Categoria</span>
        </div>
        <p class="card-text">@Titulo</p>
        <div class="boton">
            <a href="#" class="btn btn-primary">Leer</a>
        </div>
    </div>
</div>